In [26]:
import pandas as pd 
import numpy as np
data = pd.read_csv('iris_csv.csv')

data.head()

   Sepal length  Sepal width  Petal length  Petal width    Species
0           5.1          3.5           1.4          0.2  I. setosa
1           4.9          3.0           1.4          0.2  I. setosa
2           4.7          3.2           1.3          0.2  I. setosa
3           4.6          3.1           1.5          0.2  I. setosa
4           5.0          3.6           1.4          0.2  I. setosa

In [27]:
data = pd.get_dummies(iris_data,columns=['Species'])
data.head()

,Sepal length,Sepal width,Petal length,Petal width,Species_I. setosa,Species_I. versicolor,Species_I. virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [48]:
import matplotlib.pyplot as plt

setosa = data.loc[data['Species_I. setosa'] == 1]
versicolor = data.loc[data['Species_I. versicolor'] == 1]
virginica = data.loc[data['Species_I. virginica'] == 1]

fig = plt.figure()
ax1 = fig.add_subplot(111)

ax1.scatter(x=setosa['Petal length'], y=setosa['Petal width'], label="Setosa")
ax1.scatter(x=versicolor['Petal length'], y=versicolor['Petal width'], label="Versicolor")
ax1.scatter(x=virginica['Petal length'], y=virginica['Petal width'], label="Virginica")

plt.xlabel("Petal Length")
plt.ylabel("Petal Width")
plt.legend(loc='upper left')
plt.show()

TypeError: 'str' object is not callable