In [9]:
import datetime
import pymysql

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='persondatabase', charset="utf8")

cursor = cnx.cursor()
query = ("SELECT FIRSTNAME, LASTNAME FROM PERSON")
cursor.execute(query)

for(FIRSTNAME, LASTNAME) in cursor:
    print("firstname: {}, lastname: {}".format(FIRSTNAME, LASTNAME))

cursor.close()
cnx.close()

firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham
firstname: Sheriff, lastname: of Nottingham

In [18]:
cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='persondatabase', charset="utf8")

curA = cnx.cursor()
curB = cnx.cursor()

query_select = ("SELECT ID, PHONE FROM PERSON WHERE ID > 2")
query_update = ("UPDATE PERSON SET PHONE = %s WHERE ID = %s")

curA.execute(query_select)

for (ID, PHONE) in curA:
    curB.execute(query_update,(int(24245594), ID))
    cnx.commit()
cursor.close()
curA.close()
curB.close()
cnx.close()

In [29]:
def add_person(person):
    cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',
    port=3307, db='persondatabase', charset="utf8")
    cursor = cnx.cursor()

    query_add_person = ("INSERT INTO PERSON "
               "(CREATED, FIRSTNAME, LASTEDITED, LASTNAME, PHONE, ADDRESS_ID) "
               "VALUES (%s, %s, %s, %s, %s, %s)")

    cursor.execute(query_add_person, person)
    cnx.commit()
    cursor.close()
    cnx.close()


data_person = (date(2020,3,16), str('Brother'), date(2020,3,16), str('Tuck'), int(123), int(1))
add_person(data_person)

In [32]:
import pandas as pd 
import pymysql
from sqlalchemy import create_engine #sqlalchemy helped convert strings to dates seamlessly

#cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 
con_str = 'mysql+pymysql://dev:ax2@localhost:3307/persondatabase'
engine = create_engine(con_str)

df = pd.DataFrame({'CREATED' : ['2020-03-16', '2020-03-16', '2020-03-16'],
                  'FIRSTNAME':['Brother','Little','Lady'],
                  'LASTEDITED':['2020-03-16','2020-03-16','2020-03-16'],
                  'LASTNAME':['Tuck','John','Mary'],
                  'PHONE':['21000', '32000', '43000'],
                  'ADDRESS_ID':['1','1','1']})
df = df.applymap(str)
#df.to_sql('person',con=engine, if_exists='append', index = False)
print(df)

CREATED FIRSTNAME  LASTEDITED LASTNAME  PHONE ADDRESS_ID
0  2020-03-16   Brother  2020-03-16     Tuck  21000          1
1  2020-03-16    Little  2020-03-16     John  32000          1
2  2020-03-16      Lady  2020-03-16     Mary  43000          1

In [84]:
import csv
import pandas as pd 
import pymysql
from sqlalchemy import create_engine #sqlalchemy helped convert strings to 

con_str = 'mysql+pymysql://dev:ax2@localhost:3307/persondatabase'
engine = create_engine(con_str)

def persist_csv(csv_file_name, table_name, splitter):
    with open(csv_file_name, newline='') as csvfile:
        reader = csv.reader(csvfile, delimiter=',' , quotechar='"')
        finalelist = []
        cols = []
        flag = True
        for row in reader:
            coldata = []   
            if(flag):
                data = (','.join(row))
                datalist = data.split(splitter)     
                for string in datalist:
                    cols.append(string)
                flag = False                
            else:
                data = (','.join(row))
                datalist = data.split(splitter)
                for string in datalist:
                    coldata.append(string)
                finalelist.append(coldata)
        df = pd.DataFrame(finalelist, columns = cols )
        df.to_sql(table_name,con=engine, if_exists='append', index = False)

persist_csv('./cars.csv', 'cars2', ',')